<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    <section class="row">        
        <section class="column col-1">
            <h2>Add Alien data here...</h2>
            <form /action="/addEntry" method="POST">
                <input type="text" placeholder="Name..." name="name">
                <input type="text" placeholder="Species Name..." name="speciesName">
                <textarea type="text" rows="5" cols="40" placeholder="Features..." name="features"></textarea>
                <input type="text" placeholder="Home World..." name="homeWorld">
                <input type="text" placeholder="Image..." name="image">
                <textarea type="text" rows="5" cols="40" placeholder="Interesting Facts..." name="interestingFacts"></textarea>
                <input type="text" placeholder="Noteable Examples..." name="noteableExamples">
                <button type="submit">CREATE</button>
                <button type="button" id="updateButton">UPDATE</button>
            </form>
        </section>
        <section class="column col-2">
            <h2>Delete Aliens data here ...</h2>
            <input type="text" placeholder="Name to delete..." name="deleteInput" id="deleteInput">
            <button type="button" id="deleteButton">DELETE</button>


            <h2>Current Aliens ...</h2>
            <ul class="aliens">
                <% for(let i=0; i < info.length; i++) {%>
                    <li class="alien">
                        <span><%= info[i] %></span>
                    </li>
                <% } %>
            </ul>
        </section>
    </section>
</body>
<script type="text/javascript" src="main.js"></script>
</html>